<!-- Wrapper -->
<div id="wrapper">

  <!-- Header Container
================================================== -->
  <!-- <app-header></app-header> -->
  <div id="header">
    <div class="container">

      <!-- Left Side Content -->
      <div class="left-side">

        <!-- Logo -->
        <div id="logo">
          <a href="index_1.html">
            <script type="text/javascript">
              //<![CDATA[
              window.__mirage2 = { petok: "4eafb6444e7fb6ad3bb7159a7297606de23e4a7b-1547303047-86400" };
    //]]>
            </script>
            <script type="text/javascript" src="js/mirage2.min.js"></script>
            <img data-cfsrc="src/assets/images/logo.png" alt="" style="display:none;visibility:hidden;"><noscript><img
                src="img/logo.png" alt=""></noscript></a>
        </div>

        <!-- Main Navigation -->
        <!-- <nav id="navigation">
          <ul id="responsive">

            <li><a href="#" class="current">Home</a>
              <ul class="dropdown-nav">
                <li><a href="index_1.html">Home 1</a></li>
                <li><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
              </ul>
            </li>

            <li><a href="#">Find Work</a>
              <ul class="dropdown-nav">
                <li><a href="#">Browse Jobs</a>
                  <ul class="dropdown-nav">
                    <li><a href="jobs-list-layout-full-page-map.html">Full Page List + Map</a></li>
                    <li><a href="jobs-grid-layout-full-page-map.html">Full Page Grid + Map</a></li>
                    <li><a href="jobs-grid-layout-full-page.html">Full Page Grid</a></li>
                    <li><a href="jobs-list-layout-1.html">List Layout 1</a></li>
                    <li><a href="jobs-list-layout-2.html">List Layout 2</a></li>
                    <li><a href="jobs-grid-layout.html">Grid Layout</a></li>
                  </ul>
                </li>
                <li><a href="#">Browse Tasks</a>
                  <ul class="dropdown-nav">
                    <li><a href="tasks-list-layout-1.html">List Layout 1</a></li>
                    <li><a href="tasks-list-layout-2.html">List Layout 2</a></li>
                    <li><a href="tasks-grid-layout.html">Grid Layout</a></li>
                    <li><a href="tasks-grid-layout-full-page.html">Full Page Grid</a></li>
                  </ul>
                </li>
                <li><a href="browse-companies.html">Browse Companies</a></li>
                <li><a href="single-job-page.html">Job Page</a></li>
                <li><a href="single-task-page.html">Task Page</a></li>
                <li><a href="single-company-profile.html">Company Profile</a></li>
              </ul>
            </li>

            <li><a href="#">For Employers</a>
              <ul class="dropdown-nav">
                <li><a href="#">Find a Freelancer</a>
                  <ul class="dropdown-nav">
                    <li><a href="freelancers-grid-layout-full-page.html">Full Page Grid</a></li>
                    <li><a href="freelancers-grid-layout.html">Grid Layout</a></li>
                    <li><a href="freelancers-list-layout-1.html">List Layout 1</a></li>
                    <li><a href="freelancers-list-layout-2.html">List Layout 2</a></li>
                  </ul>
                </li>
                <li><a href="single-freelancer-profile.html">Freelancer Profile</a></li>
                <li><a href="dashboard-post-a-job.html">Post a Job</a></li>
                <li><a href="dashboard-post-a-task.html">Post a Task</a></li>
              </ul>
            </li>

            <li><a href="#">Dashboard</a>
              <ul class="dropdown-nav">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="dashboard-messages.html">Messages</a></li>
                <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                <li><a href="dashboard-reviews.html">Reviews</a></li>
                <li><a href="dashboard-manage-jobs.html">Jobs</a>
                  <ul class="dropdown-nav">
                    <li><a href="dashboard-manage-jobs.html">Manage Jobs</a></li>
                    <li><a href="dashboard-manage-candidates.html">Manage Candidates</a></li>
                    <li><a href="dashboard-post-a-job.html">Post a Job</a></li>
                  </ul>
                </li>
                <li><a href="dashboard-manage-tasks.html">Tasks</a>
                  <ul class="dropdown-nav">
                    <li><a href="dashboard-manage-tasks.html">Manage Tasks</a></li>
                    <li><a href="dashboard-manage-bidders.html">Manage Bidders</a></li>
                    <li><a href="dashboard-my-active-bids.html">My Active Bids</a></li>
                    <li><a href="dashboard-post-a-task.html">Post a Task</a></li>
                  </ul>
                </li>
                <li><a href="dashboard-settings.html">Settings</a></li>
              </ul>
            </li>

            <li><a href="#">Pages</a>
              <ul class="dropdown-nav">
                <li><a href="pages-blog.html">Blog</a></li>
                <li><a href="pages-pricing-plans.html">Pricing Plans</a></li>
                <li><a href="pages-checkout-page.html">Checkout Page</a></li>
                <li><a href="pages-invoice-template.html">Invoice Template</a></li>
                <li><a href="pages-user-interface-elements.html">User Interface Elements</a></li>
                <li><a href="pages-icons-cheatsheet.html">Icons Cheatsheet</a></li>
                <li><a href="pages-contact.html">Contact</a></li>
              </ul>
            </li>

          </ul>
        </nav>
        <div class="clearfix"></div> -->
        <!-- Main Navigation / End -->

      </div>
      <!-- Left Side Content / End -->


      <!-- Right Side Content / End -->
      <div class="right-side">

        <div class="header-widget">
          <a href="#sign-in-dialog" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i>
            <span>Log
              In / Register</span></a>
        </div>

        <!-- Mobile Navigation Button -->
        <span class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </span>

      </div>
      <!-- Right Side Content / End -->

    </div>
  </div>
  <!-- Header Container / End -->



  <!-- Intro Banner
================================================== -->
  <!-- add class "disable-gradient" to enable consistent background overlay -->
  <div class="intro-banner"
    data-background-image="https://res.cloudinary.com/brainethic/image/upload/v1546862799/WhatsApp_Image_2019-01-07_at_5.33.29_PM_fouj6p.jpg">
    <div class="container">

      <!-- Intro Headline -->
      <div class="row">
        <div class="col-md-12">
          <div class="banner-headline">
            <h3>
              <strong>Insure And Be Sure.</strong>
              <br>
              <span>Thousands of people's use <strong class="color">E-Insurance App</strong> manage their policy
                accounts.</span>
            </h3>
          </div>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="row">
        <div class="col-md-12">
          <div class="intro-banner-search-form margin-top-95">

            <!-- Search Field -->
            <div class="intro-search-field with-autocomplete">
              <label for="autocomplete-input" class="field-title ripple-effect">Where?</label>
              <div class="input-with-icon">
                <input id="autocomplete-input" type="text" placeholder="Online Insurance">
                <i class="icon-material-outline-location-on"></i>
              </div>
            </div>

            <!-- Search Field -->
            <div class="intro-search-field">
              <label for="intro-keywords" class="field-title ripple-effect">Which Inusrance you want?</label>
              <input id="intro-keywords" type="text" placeholder="Insurance Title or Keywords">
            </div>

            <!-- Button -->
            <div class="intro-search-button">
              <button class="button ripple-effect"
                onclick="window.location.href='jobs-list-layout-full-page-map.html'">Search</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Stats -->
      <div class="row">
        <div class="col-md-12">
          <ul class="intro-stats margin-top-45 hide-under-992px">
            <li>
              <strong class="counter">1,586</strong>
              <span>Users</span>
            </li>
            <li>
              <strong class="counter">3,543</strong>
              <span>Total policies</span>
            </li>
            <li>
              <strong class="counter">1,232</strong>
              <span>OverSeas Users</span>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>


  <!-- Content
================================================== -->
  <!-- Category Boxes -->
  <!-- <div class="section margin-top-65">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">

          <div class="section-headline centered margin-bottom-15">
            <h3>Popular Job Categories</h3>
          </div>

       
          <div class="categories-container">

                   <a href="jobs-grid-layout-full-page.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-file-code-o"></i>
              </div>
              <div class="category-box-counter">612</div>
              <div class="category-box-content">
                <h3>Web & Software Dev</h3>
                <p>Software Engineer, Web / Mobile Developer & More</p>
              </div>
            </a>

         
            <a href="jobs-list-layout-full-page-map.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-cloud-upload"></i>
              </div>
              <div class="category-box-counter">113</div>
              <div class="category-box-content">
                <h3>Data Science & Analitycs</h3>
                <p>Data Specialist / Scientist, Data Analyst & More</p>
              </div>
            </a>

                     <a href="jobs-list-layout-full-page-map.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-suitcase"></i>
              </div>
              <div class="category-box-counter">186</div>
              <div class="category-box-content">
                <h3>Accounting & Consulting</h3>
                <p>Auditor, Accountant, Fnancial Analyst & More</p>
              </div>
            </a>

                     <a href="jobs-list-layout-1.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-pencil"></i>
              </div>
              <div class="category-box-counter">298</div>
              <div class="category-box-content">
                <h3>Writing & Translations</h3>
                <p>Copywriter, Creative Writer, Translator & More</p>
              </div>
            </a>

                     <a href="jobs-list-layout-2.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-pie-chart"></i>
              </div>
              <div class="category-box-counter">549</div>
              <div class="category-box-content">
                <h3>Sales & Marketing</h3>
                <p>Brand Manager, Marketing Coordinator & More</p>
              </div>
            </a>

         
            <a href="jobs-list-layout-1.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-image"></i>
              </div>
              <div class="category-box-counter">873</div>
              <div class="category-box-content">
                <h3>Graphics & Design</h3>
                <p>Creative Director, Web Designer & More</p>
              </div>
            </a>

         
            <a href="jobs-list-layout-2.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-bullhorn"></i>
              </div>
              <div class="category-box-counter">125</div>
              <div class="category-box-content">
                <h3>Digital Marketing</h3>
                <p>Darketing Analyst, Social Profile Admin & More</p>
              </div>
            </a>

         
            <a href="jobs-grid-layout-full-page.html" class="category-box">
              <div class="category-box-icon">
                <i class="icon-line-awesome-graduation-cap"></i>
              </div>
              <div class="category-box-counter">445</div>
              <div class="category-box-content">
                <h3>Education & Training</h3>
                <p>Advisor, Coach, Education Coordinator & More</p>
              </div>
            </a>

          </div>

        </div>
      </div>
    </div>
  </div> -->
  <!-- Category Boxes / End -->



  <!-- Footer
================================================== -->
  <div id="footer">

    <!-- Footer Top Section -->
    <div class="footer-top-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">

            <!-- Footer Rows Container -->
            <div class="footer-rows-container">

              <!-- Left Side -->
              <div class="footer-rows-left">
                <div class="footer-row">
                  <div class="footer-row-inner footer-logo">
                    <img data-cfsrc="src/assets/src/assets/images/logo2.png" alt=""
                      style="display:none;visibility:hidden;"><noscript><img src="img/logo2.png" alt=""></noscript>
                  </div>
                </div>
              </div>

              <!-- Right Side -->
              <div class="footer-rows-right">

                <!-- Social Icons -->
                <div class="footer-row">
                  <div class="footer-row-inner">
                    <ul class="footer-social-links">
                      <li>
                        <a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
                          <i class="icon-brand-facebook-f"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
                          <i class="icon-brand-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
                          <i class="icon-brand-google-plus-g"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
                          <i class="icon-brand-linkedin-in"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <!-- Language Switcher -->
                <div class="footer-row">
                  <div class="footer-row-inner">
                    <select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
                      <option selected>English</option>
                      <option>Français</option>
                      <option>Español</option>
                      <option>Deutsch</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <!-- Footer Rows Container / End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Top Section / End -->


    <!-- Footer Copyrights -->
    <div class="footer-bottom-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            © 2019 <strong>Prasad Pawar</strong>. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Copyrights / End -->

  </div>
  <!-- Footer / End -->

</div>
<!-- Wrapper / End -->


<!-- Sign In Popup
================================================== -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

  <!--Tabs -->
  <div class="sign-in-form">

    <ul class="popup-tabs-nav">
      <li><a href="#login">Log In</a></li>
      <li><a href="#register">Register</a></li>
    </ul>

    <div class="popup-tabs-container">

      <!-- Login -->
      <div class="popup-tab-content" id="login">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>{{loginStatus}}</h3>
          <span>Don't have an account? <a href="#register" class="register-tab">Sign Up!</a></span>
        </div>

        <!-- Form -->
        <div id="login-form">
          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input type="text" class="input-text with-border" name="username" [(ngModel)]="loginReq.userId"
              id="emailaddress" placeholder="Username" required minlength="1">
          </div>

          <div class="input-with-icon-left">
            <i class="icon-material-outline-lock"></i>
            <input type="password" class="input-text with-border" name="password" [(ngModel)]="loginReq.password"
              id="password" placeholder="Password" required minlength="1">
          </div>
          <a href="#" class="forgot-password">Forgot Password?</a>
        </div>

        <!-- Button -->
        <button class="button full-width button-sliding-icon ripple-effect"
         (click)="userLogin()" form="login-form">Log
          In <i class="icon-material-outline-arrow-right-alt"></i></button>

        <!-- Social Login -->
        <div class="social-login-separator"><span>or</span></div>
        <div class="social-login-buttons">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via
            Facebook</button>
          <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Log In via
            Google+</button>
        </div>

      </div>

      <!-- Register -->
      <div class="popup-tab-content" id="register">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>{{registerStatus}}</h3>
        </div>

        <!-- Account Type -->
        <div class="account-type">
          <div>
            <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked>
            <label for="freelancer-radio" class="ripple-effect-dark"><i
                class="icon-material-outline-account-circle"></i>
              Admin</label>
          </div>

          <div>
            <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio">
            <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i>
              User</label>
          </div>
        </div>

        <!-- Form -->
        <div id="register-account-form">
          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input type="text" class="input-text with-border" name="emailaddress-register"
              [(ngModel)]="registerReq.userId" id="emailaddress-register" placeholder="Username" required>
          </div>

          <div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
            <i class="icon-material-outline-lock"></i>
            <input type="password" class="input-text with-border" name="password-register"
              [(ngModel)]="registerReq.password" id="password-register" placeholder="Password" required>
          </div>

          <div class="input-with-icon-left">
            <i class="icon-material-outline-lock"></i>
            <input type="password" class="input-text with-border" [(ngModel)]="registerReq.RepeatPassword"
              name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required>
          </div>
        </div>

        <!-- Button -->
        <button class="margin-top-10 button full-width button-sliding-icon ripple-effect" (click)=userRegister()
          type="submit" form="register-account-form">Register
          <i class="icon-material-outline-arrow-right-alt"></i></button>

        <!-- Social Login -->
        <div class="social-login-separator"><span>or</span></div>
        <div class="social-login-buttons">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via
            Facebook</button>
          <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via
            Google+</button>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Sign In Popup / End -->



<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
  // Snackbar for user status switcher
  $('#snackbar-user-status label').click(function () {
    Snackbar.show({
      text: 'Your status has been changed!',
      pos: 'bottom-center',
      showAction: false,
      actionText: "Dismiss",
      duration: 3000,
      textColor: '#fff',
      backgroundColor: '#383838'
    });
  }); 
</script>


<!-- Google Autocomplete -->
<script>
  function initAutocomplete() {
    var options = {
      types: ['(cities)'],
      // componentRestrictions: {country: "us"}
    };

    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

  // Autocomplete adjustment for homepage
  if ($('.intro-banner-search-form')[0]) {
    setTimeout(function () {
      $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
    }, 300);
  }

</script>