<div id="wrapper">

  <!-- Header Container
================================================== -->
  <app-header></app-header>
  <!-- Header Container / End -->


  <!-- Dashboard Container -->
  <div class="dashboard-container">

    <!-- Dashboard Sidebar
	================================================== -->
    <!-- Dashboard Sidebar / End -->
    <app-sidebar></app-sidebar>

    <!-- UserList Content
	================================================== -->
    <div class="dashboard-content-container" data-simplebar="">
      <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
          <h3>Policy Holders List</h3>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs" class="dark">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Dashboard</a></li>
              <li>Manage Users</li>
            </ul>
          </nav>
        </div>

        <!-- Row -->
        <div class="row">

          <!-- Dashboard Box -->
          <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-material-outline-business-center"></i> Policy Holders List</h3>
              </div>

              <div class="content">
                <ul class="dashboard-box-list">
                  <li *ngFor="let customer of customers">
                    <!-- Job Listing -->
                    <div class="job-listing">

                      <!-- Job Listing Details -->
                      <div class="job-listing-details">

                        <!-- Logo -->
                        <!-- 											<a href="#" class="job-listing-company-logo">
												<img src="images/company-logo-05.png" alt="">
											</a> -->

                        <!-- Details -->
                        <div class="job-listing-description">
                          <h3 class="job-listing-title">{{customer.name}} <span
                              class="dashboard-status-button green">Paid</span></h3>

                          <!-- Job Listing Footer -->
                          <div class="job-listing-footer">
                            <ul>
                              <li><i class="icon-material-outline-date-range"></i> Paid on 10 Jan, 2019</li>
                              <li><i class="icon-material-outline-date-range"></i> Next Premium on 11 Feb, 2019</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Buttons -->
                    <div class="buttons-to-right always-visible">
                      <a href="dashboard-manage-candidates.html" class="button ripple-effect"><i
                          class="icon-material-outline-supervisor-account"></i>
                        Manage Candidates <span class="button-info">0</span></a>
                      <a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i
                          class="icon-feather-edit"></i></a>
                      <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i
                          class="icon-feather-trash-2"></i></a>
                    </div>
                  </li>


                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- Row / End -->

        <!-- Footer -->

        <app-footer></app-footer>

        <!-- Footer / End -->

      </div>
    </div>
    <!-- Dashboard Content / End -->

  </div>
  <!-- Dashboard Container / End -->

</div>